@charset "UTF-8";
*, :after, :before {
  box-sizing: border-box;
}

/*pozadí a H1*/
/* nadpisy H2 */
/*hodně tmavě zelené – barva patičky, nadpisy v boxech „Řekli o permakultuře“ */
/* sětle zelená – horní část okna boxů pro blog */
/* tmavě zelená – spodní část boxu pro blog a odkazy na více z článku v blogu */
/* žlutá - myšl. mapa a odkazy v blogu */
/*mechově zelená – pro myšlenkovou mapu*/
/*nadpis H3*/
.grid-sablona {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
@media screen and (min-width: 720px) {
  .grid-sablona {
    padding: 0 120px;
  }
}
@media screen and (min-width: 1250px) {
  .grid-sablona {
    align-items: flex-start;
    padding: 0 180px 0 180px;
  }
}
.grid-sablona .content {
  flex: 1 1 50%;
}
@media screen and (min-width: 1250px) {
  .grid-sablona .content {
    margin-right: 80px;
  }
}

h2 {
  color: #C29EC4;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  padding: 0 20px 0 20px;
  margin: 20px 0 30px 0;
}
@media screen and (min-width: 720px) {
  h2 {
    padding: 0 120px 10px 120px;
    font-size: 40px;
    margin: 30px 0 20px 0;
  }
}
@media screen and (min-width: 1250px) {
  h2 {
    padding: 0 180px 0 180px;
    font-size: 40px;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 19px;
  text-align: justify;
}

img {
  width: 100%;
}

body {
  font-family: "Cormorant Garamond", serif;
  background-color: #FAF2F2;
  width: auto;
  min-width: 320px;
  max-width: 1700px;
  margin: 0 auto;
}

h1 {
  color: #FAF2F2;
  font-size: 40px;
  size: 50px;
  padding-left: 20px;
  margin: 0 0 10px 0;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 720px) {
  h1 {
    padding: 0 0 0 120px;
    margin-bottom: 10px;
    font-size: 50px;
  }
}
@media screen and (min-width: 1250px) {
  h1 {
    padding: 0 0 0 180px;
    width: auto;
    margin: 0;
  }
}

header {
  background-image: url(/img/úvod/pozadí.jpg);
  width: 100%;
  background-size: 100%;
  margin: 0;
  padding: 20px 0 5px 0;
}
@media screen and (min-width: 1250px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  cursor: pointer;
  color: #FAF2F2;
  font-size: 25px;
  padding-left: 20px;
}
@media screen and (min-width: 720px) {
  .menu__toggler {
    padding-left: 120px;
  }
}
@media screen and (min-width: 1250px) {
  .menu__toggler {
    display: none;
  }
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #CEDAAC;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 1250px) {
  .menu__list {
    display: inline-block;
    background-color: transparent;
    padding: 0 180px 0 0;
  }
}

.menu__item {
  border-bottom: 1px solid #FAF2F2;
  font-size: 23px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 1250px) {
  .menu__item {
    border: transparent;
    display: inline-block;
    margin-top: 18px;
  }
}

.menu__link {
  display: block;
  padding: 10px;
  color: #FAF2F2;
  text-decoration: none;
}

.menu__link:hover {
  background-color: #C29EC4;
  border-radius: 4px;
}

@media screen and (max-width: 1250px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
.ul-loga {
  list-style: none;
  padding: 0 20px;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 1250px) {
  .ul-loga {
    padding: 0 180px;
  }
}

#li-logo {
  width: 30px;
}

.popisek {
  position: absolute;
  margin-top: -42px;
  margin-left: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  min-width: 320px;
}
@media screen and (min-width: 720px) {
  .popisek {
    font-size: x-small;
  }
}

.intro_foto1 {
  background-image: url(/img/úvod/u_vany_text-mobil.jpg);
  background-size: cover;
  height: 800px;
  margin-left: -100px;
}
@media screen and (min-width: 720px) {
  .intro_foto1 {
    margin-left: -80px;
    background-image: url(/img/úvod/u_vany_text-tablet.jpg);
  }
}
@media screen and (min-width: 1250px) {
  .intro_foto1 {
    background-image: url(/img/úvod/u_vany_text-PC.jpg);
    margin-left: 0;
  }
}

.intro_my_story {
  font-size: 22px;
  margin-top: 15px;
}

.div_my_story {
  padding: 0 20px 15px 20px;
}
@media screen and (min-width: 720px) {
  .div_my_story {
    padding: 0 120px 20px 120px;
  }
}
@media screen and (min-width: 1250px) {
  .div_my_story {
    padding: 0 180px 30px 180px;
  }
}

.intro_a {
  color: black;
}

.intro-offer--a {
  text-decoration: none;
  color: #ECEFA2;
  font-weight: bold;
  font-size: larger;
}

#div_dark {
  background-color: #849060;
}

#text_sledujte_nas {
  text-align: center;
  color: #FAF2F2;
}

.h3_intro {
  color: #4A4146;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#text_bright {
  color: #FAF2F2;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
}

#h3_intro_svetly {
  color: #FAF2F2;
  padding-top: 20px;
}
@media screen and (min-width: 720px) {
  #h3_intro_svetly {
    padding-top: 30px;
  }
}
@media screen and (min-width: 720px) {
  #h3_intro_svetly {
    padding-top: 40px;
  }
}

.intro_foto2 {
  background-image: url(/img/úvod/zakladame_PR.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}
@media screen and (min-width: 720px) {
  .intro_foto2 {
    height: 450px;
  }
}
@media screen and (min-width: 1250px) {
  .intro_foto2 {
    background-image: url(/img/úvod/zakladame_PR_sirsi.jpg);
    height: 600px;
  }
}

.odkazy-h3 {
  color: #A0B187;
  font-size: 32px;
  font-style: italic;
  margin-bottom: 20px;
}

.list-odkazy {
  list-style: none;
  padding: 0;
}

.list-odkazy__link {
  text-decoration: none;
  color: #4A4146;
}

.list-odkazy__link:hover {
  font-size: 17px;
}
@media screen and (min-width: 720px) {
  .list-odkazy__link:hover {
    font-size: 19px;
  }
}
@media screen and (min-width: 1250px) {
  .list-odkazy__link:hover {
    font-size: 23px;
  }
}

.list-odkazy__item {
  padding: 10px 0 10px 10px;
  font-size: 15px;
  margin: 0 20px;
}
@media screen and (min-width: 720px) {
  .list-odkazy__item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1250px) {
  .list-odkazy__item {
    font-size: 20px;
  }
}

.perma-container {
  padding: 0 20px;
}
@media screen and (min-width: 720px) {
  .perma-container {
    padding: 0 120px;
  }
}
@media screen and (min-width: 1250px) {
  .perma-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 180px;
  }
}

@media screen and (min-width: 1250px) {
  .perma-container__left {
    flex: 1 1 75%;
    padding-right: 80px;
  }
}

.perma-container__left-author {
  text-align: end;
  font-style: italic;
  margin: -10px 20px 27px 0;
}
@media screen and (min-width: 720px) {
  .perma-container__left-author {
    margin: -10px 20px 27px 0;
  }
}
@media screen and (min-width: 1250px) {
  .perma-container__left-author {
    margin: -5px 20px 27px 0;
  }
}

.perma-container__left-title {
  color: #A0B187;
  font-size: 27px;
  font-style: italic;
  margin-top: 60px;
}
@media screen and (min-width: 1250px) {
  .perma-container__left-title {
    margin-top: 90px;
  }
}

.perma-container__left-title--quotation {
  margin-bottom: 0;
}

@media screen and (min-width: 720px) {
  .perma-container__right {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1250px) {
  .perma-container__right {
    flex: 1 1 25%;
  }
}

.perma-container__right-box {
  border: solid 1px #FAF2F2;
  background-color: #849060;
  border-radius: 5px;
  margin: 30px 0;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 720px) {
  .perma-container__right-box {
    flex: 0 0 30%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1250px) {
  .perma-container__right-box {
    flex: 0 0 100%;
    margin: 5px 10px;
  }
}

@media screen and (min-width: 720px) {
  .perma-container__right-box--3 {
    flex: 0 0 100%;
    order: 4;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1250px) {
  .perma-container__right-box--3 {
    order: 3;
    margin: 5px 15px;
  }
}

@media screen and (min-width: 720px) {
  .perma-container__right-box--1 {
    margin-top: 90px;
    order: 2;
  }
}
@media screen and (min-width: 1250px) {
  .perma-container__right-box--1 {
    order: 1;
    margin: 0 15px 5px 15px;
  }
}

@media screen and (min-width: 720px) {
  .perma-container__right-box--2 {
    order: 1;
    margin-top: 90px;
  }
}
@media screen and (min-width: 1250px) {
  .perma-container__right-box--2 {
    order: 2;
    margin: 5px 15px;
  }
}

@media screen and (min-width: 720px) {
  .perma-container__right-box--4 {
    order: 3;
    margin-top: 90px;
  }
}
@media screen and (min-width: 1250px) {
  .perma-container__right-box--4 {
    order: 4;
    margin: 5px 15px;
  }
}

.perma-container__right-title {
  border: solid 1px #CEDAAC;
  background-color: #CEDAAC;
  margin: 0;
  border-radius: 5px 5px 0 0;
  padding: 15px;
  text-align: center;
  color: #4D5A46;
  font-size: 23px;
}

.perma-container__right-paragraph {
  text-align: center;
  padding: 20px;
  color: #FAF2F2;
}
@media screen and (min-width: 1250px) {
  .perma-container__right-paragraph {
    padding: 5px 15px;
  }
}

.perma-container__link {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #ECEFA2;
  font-size: 22px;
}
@media screen and (min-width: 720px) {
  .perma-container__link {
    padding: 5px;
  }
}

.perma-container__link:hover {
  color: #C29EC4;
  font-size: 24px;
}

.perma-container__right-paragraph--link {
  padding: 10px 20px;
}
@media screen and (min-width: 720px) {
  .perma-container__right-paragraph--link {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 720px) {
  .parma-container__mapa-PC {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .parma-container__mapa-PC {
    display: none;
  }
}
@media screen and (min-width: 1250px) {
  .parma-container__mapa-PC {
    display: inline;
  }
}

@media screen and (min-width: 1250px) {
  .parma-container__mapa-tab {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .parma-container__mapa-tab {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .parma-container__mapa-mobile {
    display: none;
  }
}
@media screen and (min-width: 1250px) {
  .parma-container__mapa-mobile {
    display: none;
  }
}

.container-for-articles {
  padding: 0 20px;
}
@media screen and (min-width: 720px) {
  .container-for-articles {
    padding: 0 120px;
  }
}
@media screen and (min-width: 1250px) {
  .container-for-articles {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.blog-container-title {
  padding: 0;
}

.blog-container__article-img {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
@media screen and (min-width: 720px) {
  .blog-container__article-img {
    flex: 0 0 35%;
  }
}

.blog-container__article {
  margin-bottom: 70px;
}
@media screen and (min-width: 720px) {
  .blog-container__article {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-width: 720px) {
  .blog-container__article-text {
    margin-left: 40px;
  }
}

.blog-container__intro {
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-container__heading {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media screen and (min-width: 720px) {
  .blog-container__heading {
    margin-top: 0;
  }
}
@media screen and (min-width: 1250px) {
  .blog-container__heading {
    text-align: start;
  }
}

.blog-container__heading a {
  text-decoration: none;
  color: #A0B187;
}

.blog-container__button {
  margin-left: 250px;
  background-color: #A0B187;
  border: solid 1px #A0B187;
  border-radius: 5px;
  padding: 4px 8px;
}
@media screen and (min-width: 720px) {
  .blog-container__button {
    margin-left: 300px;
  }
}
@media screen and (min-width: 1250px) {
  .blog-container__button {
    margin-left: 500px;
  }
}

.blog-container__date {
  margin: 15px 0;
}

.blog-container__button a {
  text-decoration: none;
  color: #FAF2F2;
}

.blog-container__button a:hover {
  color: #ECEFA2;
  font-size: 16px;
}

.p-koucovani {
  margin-bottom: 15px;
  line-height: 150%;
}
.onas-container {
  padding: 0 20px;
}
@media screen and (min-width: 720px) {
  .onas-container {
    padding: 0 120px;
  }
}
@media screen and (min-width: 1250px) {
  .onas-container {
    padding: 10px 180px;
  }
}

.onas-container-uvod {
  padding: 10px 0;
}

@media screen and (min-width: 720px) {
  .onas-container-we {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.onas-container-we__h3 {
  text-align: center;
  color: #A0B187;
  font-size: 27px;
  margin-bottom: -25px;
}

.onas-container-we__img {
  border-radius: 50%;
  padding: 50px;
}

@media screen and (min-width: 1250px) {
  .onas-container-we__box {
    margin: 80px;
  }
}

@media screen and (min-width: 720px) {
  .onas-container-we__box--bob {
    grid-columns: span 2;
  }
}

.onas-container-we__adresa {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 50px;
  text-decoration: none;
  color: #4A4146;
}

.onas-container-we__adresa:hover {
  color: #C29EC4;
}

.onas__h3 {
  text-align: center;
  color: #A0B187;
  font-size: 30px;
  padding-top: 30px;
}

.o_nas_psali_a {
  font-weight: bold;
  color: #C29EC4;
}

.onas_psali_p {
  margin-bottom: 10px;
}

.o_nas_galerie {
  display: grid;
  grid-template-columns: repeat(1);
  grid-template-rows: repeat(30);
  gap: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 720px) {
  .o_nas_galerie {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(15, auto);
  }
}
@media screen and (min-width: 1250px) {
  .o_nas_galerie {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(10, auto);
    gap: 10px;
  }
}

.intro-grid {
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
}
@media screen and (min-width: 720px) {
  .intro-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

.intro-grid__picture {
  border-radius: 50%;
  padding: 40px 40px;
  margin: 0;
  max-width: 400px;
}
@media screen and (min-width: 720px) {
  .intro-grid__picture {
    padding: 45px;
  }
}

.intro-grid__text {
  padding: 0px 20px 25px 20px;
  margin: 0;
}
@media screen and (min-width: 720px) {
  .intro-grid__text {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 25px;
  }
}

.intro-grid__picture--first {
  border-radius: 30%;
}

.intro-grid__offer {
  margin-top: 20px;
}

.intro-grid__offer--a {
  text-decoration: none;
  color: #849060;
  font-weight: bold;
  font-size: larger;
}

@media screen and (min-width: 720px) {
  .intro-grid__text--second {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
  }
}

@media screen and (min-width: 720px) {
  .intro-grid__text--forth {
    grid-row: 4/span 1;
    grid-column: 1/span 1;
  }
}

@media screen and (min-width: 720px) {
  .intro-grid__text--sixth {
    grid-row: 6/span 1;
    grid-column: 1/span 1;
  }
}

.article {
  margin: 0 20px;
}
@media screen and (min-width: 720px) {
  .article {
    margin: 0 120px;
  }
}
@media screen and (min-width: 1250px) {
  .article {
    padding-right: 50px;
    margin: 0 350px;
  }
}

.articles__imgs {
  display: flex;
}

.articles_galerie {
  display: grid;
  grid-template-columns: repeat(1);
  grid-template-rows: repeat(30);
  gap: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.articles__img {
  padding: 10px 5px;
  min-width: 0;
}

@media screen and (min-width: 1250px) {
  .article__big-img {
    padding: 20px 50px;
  }
}

@media screen and (min-width: 1250px) {
  .article-heading {
    padding: 0 350px;
  }
}

.article-p {
  padding: 10px 0;
}

.article__h3 {
  color: #A0B187;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.article__h4 {
  color: #A0B187;
  font-family: "Cormorant Garamond", serif;
  color: #4A4146;
  font-size: 21px;
  margin-bottom: 2px;
  margin-top: 30px;
}

.article__img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.article_odkaz {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #C29EC4;
  font-size: 22px;
  padding-top: 20px;
}

.article_odkaz:hover {
  font-size: 24px;
}

.article__li {
  font-size: 17px;
  padding: 5px 0;
}

.ramecek {
  border: 2px solid #4D5A46;
  margin: 20px 30px;
  padding: 10px;
  background-color: #A0B187;
  border-radius: 5px;
}
@media screen and (min-width: 720px) {
  .ramecek {
    margin: 20px 100px;
  }
}

.article_a {
  color: black;
}

.pbold {
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

.popis-fotky {
  padding: 20px 0 0 5px;
  font-style: italic;
  font-size: 16px;
}

#popis-fotky_dole {
  padding-top: 0;
  margin-top: -10px;
}

footer {
  background-color: #4D5A46;
}

.footer__text {
  padding: 10px;
  margin-top: 40px;
  color: #FAF2F2;
  text-align: center;
}

.table-blog {
  border: solid 1px #FAF2F2;
  background-color: #FAF2F2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 720px) {
  .table-blog {
    max-width: 600px;
  }
}
@media screen and (min-width: 1250px) {
  .table-blog {
    max-width: none;
    display: flex;
    margin-left: 30px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1250px) {
  .div_one_article {
    flex: 1 1 0;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (min-width: 720px) {
  .table-blog__article {
    flex: 1 1 60%;
  }
}
@media screen and (min-width: 1250px) {
  .table-blog__article {
    flex: 1 1 60%;
    display: flex;
  }
}

.table-blog__h3-box {
  background-color: #FAF2F2;
  border-radius: 5px 5px 0px 0px;
  flex: 1 1 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table-blog__h3 {
  color: #4A4146;
  font-size: 40px;
  text-align: center;
}

.table-blog__h4 {
  font-size: 24px;
  color: #4A4146;
  text-align: center;
  padding: 0 8px;
  text-decoration: none;
}
@media screen and (min-width: 720px) {
  .table-blog__h4 {
    font-size: 26px;
    height: 50px;
    padding: 0px 20px;
    margin: 20px 0px 7px 0px;
  }
}
@media screen and (min-width: 1250px) {
  .table-blog__h4 {
    height: auto;
    margin: 21px 0px;
    padding: 5px;
  }
}

.table-blog__article-link {
  text-decoration: none;
  display: block;
  text-align: center;
  padding-bottom: 5px;
  color: #FAF2F2;
  font-size: 20px;
}

.table-blog__article-link:hover {
  font-size: 23px;
  color: #ECEFA2;
}

@media screen and (min-width: 720px) {
  .table-blog__img-box {
    height: auto;
  }
}
@media screen and (min-width: 1250px) {
  .table-blog__img-box {
    height: auto;
  }
}

@media screen and (min-width: 720px) {
  .table-blog__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 10px 10px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1250px) {
  .table-blog__img {
    padding: 0;
    -o-object-fit: inherit;
       object-fit: inherit;
    width: 100%;
    height: auto;
  }
}

.koucovani__intro--title {
  color: #A0B187;
  font-size: 27px;
  font-style: italic;
  margin: 20px 0;
}
@media screen and (min-width: 720px) {
  .koucovani__intro--title {
    margin: 50px 0;
  }
}
@media screen and (min-width: 1250px) {
  .koucovani__intro--title {
    margin: 70px 0;
  }
}

.con-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 720px) {
  .con-intro {
    display: inline;
  }
}

.koucovani__intro--con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .koucovani__intro--con {
    flex-direction: row;
    justify-content: space-around;
  }
}

.koucovani__intro {
  padding: 10px;
  margin: 10px 1px;
  border: 1px solid #CEDAAC;
  border-radius: 50%;
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
}

.koucovani-conatainer__offer {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .koucovani-conatainer__offer {
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

.koucovani-con__offer--img {
  border-radius: 50%;
  width: 200px;
}
@media screen and (min-width: 720px) {
  .koucovani-con__offer--img {
    width: 250px;
  }
}
@media screen and (min-width: 1250px) {
  .koucovani-con__offer--img {
    width: 310px;
  }
}

.koucovani-con__offer--p {
  color: #A0B187;
  font-size: 27px;
  font-style: italic;
  text-align: center;
  padding: 5px 50px;
}

.koucovani-con__offer--box {
  border: 1px dotted #A0B187;
  padding: 7px 15px;
  margin: 7px 30px;
  font-size: 14px;
  border-radius: 5px;
}
@media screen and (min-width: 1250px) {
  .koucovani-con__offer--box {
    margin: 7px 40px;
  }
}

.koucovani-con__offer--con-name {
  margin-top: 20px;
}

.koucovani-con__offer--name {
  text-align: center;
}

.koucovani-con__offer--name-a {
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  color: black;
}

.koucovani-con__offer--name-a:hover {
  color: #C29EC4;
}

#koucovani__name {
  font-weight: bold;
}

.koucovani-conatainer__offer--div {
  margin-top: 30px;
}
@media screen and (min-width: 720px) {
  .koucovani-conatainer__offer--div {
    margin-top: 0;
  }
}

.h2_koucovani {
  padding: 50px 0 20px 0;
  text-align: center;
}
@media screen and (min-width: 720px) {
  .h2_koucovani {
    padding: 80px 0 30px 0;
  }
}
@media screen and (min-width: 720px) {
  .h2_koucovani {
    padding: 80px 0 30px 0;
  }
}

@media screen and (min-width: 720px) {
  .koucovani-container__ref {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.koucovani__con--IndiRef {
  margin-top: 35px;
}
@media screen and (min-width: 720px) {
  .koucovani__con--IndiRef {
    margin-top: 0;
  }
}

.koucovani-container__ref--conImg {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}

.name_reference {
  margin: 0;
  padding-left: 10px;
}

.title_reference {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 20px 0 10px;
}

.img_reference {
  border-radius: 10%;
}

.koucovani-container__ref--p-long {
  padding: 0 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}
@media screen and (min-width: 720px) {
  .koucovani-container__ref--p-long {
    margin-bottom: 15px;
    margin-top: 20px;
  }
}

.koucovani__intro-form {
  margin: 30px 0;
  text-align: center;
  font-weight: bold;
  color: #849060;
}

.koucovani__form {
  margin: 10px auto;
  width: 100%;
  max-width: 500px;
  background-color: #CEDAAC;
  border-radius: 4%;
  padding: 10px;
}

.koucovani__form--field {
  display: flex;
  margin: 10px;
}

.koucovani__form--field label {
  flex: 1 1 100px;
}

.koucovani__form--field input,
.koucovani__form--field textarea {
  width: 100%;
  border: 1px solid #849060;
  border-radius: 4px;
  padding: 2px 10px;
}

.koucovani__form--checkbox {
  margin: 10px;
}

.koucovani__button {
  border: 1px solid #849060;
  border-radius: 4px;
  margin: 0 10px;
}

.koucovani__button:hover {
  background-color: #ECEFA2;
}

@media screen and (min-width: 720px) {
  .con_masinka {
    display: flex;
    align-items: center;
  }
}

.ruzovaMasinka {
  margin: 0 auto 30px auto;
  width: 150px;
}
@media screen and (min-width: 720px) {
  .ruzovaMasinka {
    width: 200px;
    margin: 0 50px 0 0;
  }
}

.p_masinka {
  padding-bottom: 10px;
}

.con_gdpr {
  padding: 0 20px;
  margin-bottom: 50px;
}
@media screen and (min-width: 720px) {
  .con_gdpr {
    padding: 0 120px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1250px) {
  .con_gdpr {
    padding: 0 180px;
    margin-bottom: 250px;
  }
}

.osobni_udaje-hlavicka-nadpis {
  font-weight: bold;
  padding: 5px 0;
}

.con_gdpr-hlavicka {
  margin-bottom: 20px;
}
@media screen and (min-width: 720px) {
  .con_gdpr-hlavicka {
    margin-bottom: 30px;
  }
}

.osobni_udaje-hlavicka {
  padding: 2px 0;
}

.osobni_udaje {
  padding: 5px 0;
}
@media screen and (min-width: 720px) {
  .osobni_udaje {
    padding: 10px 0;
  }
}

.odeslano {
  text-align: center;
}/*# sourceMappingURL=style.css.map */