.article{

    margin: 0 $pad-mobile;
    @media screen and (min-width: $tablet-size) { 
        margin: 0 $pad-tablet;
    }

    @media screen and (min-width: $PC-size) {
        padding-right: 50px;
        margin: 0 350px;
    }   

}
//zde upravit nastavení, aby se vytvořila galerie pro články, kde je hodně fotek
// .articles-divFoto {
//     display: flex;
//     flex-wrap: wrap;
// }

// .articles-divFoto img {
//     padding: 20px 100px;

// }

//pro dva obrázky
.articles__imgs{
    display: flex;
}

//galerie
.articles_galerie {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(30);
    gap: 5px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    
    
   
    // @media screen and (min-width: $tablet-size) {
    //     grid-template-columns: repeat(2, auto);
    //     grid-template-rows: repeat(15, auto);
        
        
    // }

    // @media screen and (min-width: $PC-size) {
    //     grid-template-columns: repeat(2, auto);
    //     grid-template-rows: repeat(10, auto);
    //     gap:10px;
        
    // }
}

//obrázky galerie
.articles__img{
    padding: 10px 5px;
    min-width: 0;
}
//obrázky jednotlivě
.article__big-img{

    

    @media screen and (min-width: $PC-size) {
        padding: 20px 50px;
    }
}

.article-heading {
    @media screen and (min-width: $PC-size) {
        padding: 0 350px;
        
    }
}
.article-p{
    padding: 10px 0;
}

.article__h3{
    color: $quaternary-c;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.article__h4{
    color: $quaternary-c;
    font-family: 'Cormorant Garamond', serif;
    color: $septenary-c;
    font-size: 21px;
    margin-bottom: 2px;
    margin-top: 30px;
}

//obrázky, které jsou na bloku u seznamu článků!
.article__img{
    border-radius: $radius_table;
    margin-bottom: 10px;
}

.article_odkaz {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: $primary-c;
    font-size: 22px;
    padding-top: 20px;
    
}

.article_odkaz:hover {
    font-size: 24px;
}

.article__li {
    font-size: 17px;
    padding: 5px 0;
}

//rámeček

.ramecek{
    border: 2px solid $secondary-c;
    margin: 20px 30px;
    padding: 10px;
    background-color: $quaternary-c;
    border-radius: $radius_table;

    @media screen and (min-width: $tablet-size) {
        margin: 20px 100px;
        
    }
}

//text

.pbold{
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}

//popis fotky


.popis-fotky{
    padding: 20px 0 0 5px;
    font-style: italic;
    font-size: 16px;
}

#popis-fotky_dole{
    padding-top: 0;
    margin-top: -10px;
}