



.grid-sablona{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 $pad-mobile;

    @media screen and (min-width: $tablet-size){   
        padding: 0 $pad-tablet;
    }
  
    @media screen and (min-width: $PC-size) {
        //flex-direction: row;
        align-items: flex-start;

        padding: 0 $pad-PC 0 $pad-PC;
    }

    .content{
        flex: 1 1 50%;

        @media screen and (min-width: $PC-size){
            margin-right: 80px;
        }
    }

}


h2{
    color: $primary-c;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;

    padding: 0  $pad-mobile 0  $pad-mobile;
    margin: 20px 0 30px 0;

    
    @media screen and (min-width: $tablet-size){   
        padding: 0 $pad-tablet 10px $pad-tablet;
        font-size: 40px;
        margin: 30px 0 20px 0;
    }

    @media screen and (min-width: $PC-size) {
        padding: 0 $pad-PC 0 $pad-PC;
        font-size: 40px;
    }
    
}

.datum{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 18px;
    text-align: right;
    margin-bottom: 30px;
}

p{
    margin: 0;
    padding: 0;
    font-size: 19px;
    text-align: justify;
}

img{
    width: 100%;
}

body{
    font-family: 'Cormorant Garamond', serif;
    background-color: $background-c;
    width: auto;
    min-width: $min-width;
    max-width: $max-width;
    margin: 0 auto;
    // margin-left: auto;
    // margin-right: auto;
   

    // @media screen and (min-width: $tablet-size) {
       
    //     width: 900px;
    // }

    // @media screen and (min-width: $PC-size) {
       
    //     width: 1300px;
    // }

}

