
h1 {
    color: $background-c;
    size: 50px;
    padding-left: $pad-mobile;
    margin: 0 0 10px 0;
    display: inline-block;
    
    @media screen and (min-width: $tablet-size){   
        padding: 0 0 0 $pad-tablet;
        width: 250px;
        margin: 0;
    }

    @media screen and (min-width: $PC-size){
        padding: 0 $pad-PC;
        width: auto;
        margin: 0;
    }
}


header{
    background-image: url(/img/úvod/pozadí.jpg);
    width: 100%;
    background-size: 100%;
    margin: 0;
    padding: 20px 0 5px 0;
    
    @media screen and (min-width: $tablet-size) {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 0;
    }
}

.menu__checkbox{
    position: absolute;
    left: -9999px;
}

.menu__toggler {
    cursor: pointer;
    color: $background-c;
    font-size: 25px;
    padding-left: $pad-mobile;
    
    @media screen and (min-width: $tablet-size) {
        display: none;
    }
}

.menu__list {
    display: none;
    margin: 0;
    padding: 0;
    background-color: $tertiary-c;
    list-style: none; 
    text-align: center;
 
    @media screen and (min-width: $tablet-size){
        display: inline-block;
        background-color: transparent;
        padding: 0 $pad-tablet 0 0;
        margin-top: 60px;
    }

    @media screen and (min-width: $PC-size){
        padding: 0 $pad-PC 0 0;
    }
}

.menu__item{
    border-bottom: 1px solid $background-c;
    font-size: 20px;

    @media screen and (min-width: $tablet-size) {
        border: transparent; 
        display: inline-block;       
    }
   
}

.menu__link{
    display: block;
    padding: 10px;
    color: $background-c;
    text-decoration: none;   
}

.menu__link:hover{
    background-color: $primary-c;
    border-radius: 4px 4px 0 0;
}

@media screen and (max-width: $tablet-size){
    .menu__checkbox:checked ~ .menu__list {
        display: block;
    }
}

//loga
.ul-loga{
    list-style: none;
    padding: 0 $pad-mobile;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: $tablet-size){   
        padding: 0 $pad-tablet;
    }
    @media screen and (min-width: $PC-size) {
        padding: 0 $pad-PC;
    }

}

.li-logo{
    width: 30px;
    margin-right: $pad-mobile;

    @media screen and (min-width: $tablet-size){   
        width: 40px;
       
    }
    
    @media screen and (min-width: $PC-size) {
            width: 50px;
            
    }
}




