.popisek{
    position: absolute;    
    margin-top: -42px;
    margin-left: 45px;
   // transform: rotate(45deg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    min-width: $min-width;

    @media  screen and (min-width: $tablet-size) {
        font-size: x-small;
    }

}


.intro_foto1{
    background-image: url(/img/úvod/u_vany_text-mobil.jpg);
    background-size:cover;
    height: 800px;
    margin-left: -100px;

    @media screen and (min-width: $tablet-size){
        margin-left: -80px;
        background-image: url(/img/úvod/u_vany_text-tablet.jpg);
    }

    @media screen and (min-width: $PC-size){
        background-image: url(/img/úvod/u_vany_text-PC.jpg);
        margin-left: 0;
    }


}

.intro_my_story{
    font-size: 22px;
    margin-top: 15px;
}

.div_my_story{

    padding: 0 $pad-mobile 15px $pad-mobile;

    @media screen and (min-width: $tablet-size){   
        padding: 0 $pad-tablet 20px $pad-tablet;
    }
  
    @media screen and (min-width: $PC-size) {
        padding: 0 $pad-PC 30px $pad-PC;
    }

}

.intro_koucuju{
    background-color: $primary-c;
    width: 270px;
    margin: auto;
    padding: 10px;
    border-radius: $radius_table;
}

.intro_koucuju-p{
    text-align: center;
    margin: 3px 0;
}

#intro_koucuju-p-koucuju{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.intro_a{
    color: black;
}

.intro-offer--a{
        text-decoration: none;
        color: $primary-c;
        font-weight: bold;
        font-size: larger;
}

#div_dark{
    background-color: $senary-c;
}

#text_sledujte_nas{
    text-align: center;
    color: $background-c;
}

.h3_intro{
    color: $septenary-c;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text_bright{
    color: $background-c;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
}

#h3_intro_svetly{
    color: $background-c;
    padding-top: 20px;

    @media screen and (min-width: $tablet-size) {
        padding-top: 30px;
    }

    @media screen and (min-width: $PC-size) {
        padding-top: 40px;
    }
}


.intro_foto2{
    background-image: url(/img/úvod/zakladame_PR.jpg);
    background-size:cover;
    background-position: center;
    //height: 600px;
    height: 300px;
    
    
    @media screen and (min-width: $tablet-size){
        height: 450px;
    }

    @media screen and (min-width: $PC-size){
        background-image: url(/img/úvod/zakladame_PR_sirsi.jpg);
        height: 600px;
    }


}


//eko prvky

.intro_ekoprvky_grid{

    max-width: 300px;
    margin-right: auto;
    margin-left: auto;


    @media screen and (min-width: $tablet-size){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: 600px;
    }

    @media screen and (min-width: $PC-size){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 1200px;
    }
}

.intro_ekoprvky_boxforone{

    @media screen and (min-width: $tablet-size){
        padding: 15px;
    }

    @media screen and (min-width: $PC-size){
        padding: 20px;
    }
}

.intro_ekoprvky_nadpis{
    text-align: center;
    font-size: 20px;
    height: 50px;
    margin: 40px 0 0 0;


    @media screen and (min-width:$tablet-size) {
        margin: 10px 0;
        font-size: 24px;
    }

    @media screen and (min-width:$PC-size) {
        font-size: 26px;
    }
    
}

.intro_ekoprvky--img{
    border-radius: 1%;
}

//SCSS k původnímu gridu v intru
        // .intro-grid{
        //     width: auto;
        //     display: grid;
        //     grid-template-columns: 1fr;
        //     grid-template-rows: repeat(8, auto);
            
        //     @media screen and (min-width: $tablet-size) {
        //         grid-template-columns: 1fr 1fr;
        //         grid-template-rows: repeat(4, auto);
        //     }
        // }



        // .intro-grid__picture{
        //     border-radius: 50%;
        //     padding: 40px 40px;
        //     margin: 0;

        //     max-width: 400px;

        //     @media screen and (min-width: $tablet-size) {
        //         padding: 45px;
        //     }


        // }

        // .intro-grid__text{
        //     padding: 0px 20px 25px 20px;
        //     margin: 0;
            
        //     @media screen and (min-width: $tablet-size) {
        //        margin-top: auto;
        //        margin-bottom: auto;
        //        padding: 0 25px;
            
        //      }
        // }

        // .intro-grid__picture--first{
        //     border-radius: 30%;
        // }

        // .intro-grid__offer{
        //     margin-top: 20px;
        // }

        // .intro-grid__offer--a{
        //     text-decoration: none;
        //     color: $senary-c;
        //     font-weight: bold;
        //     font-size: larger;
        // }

        // .intro-grid__text--second{
        //     @media screen and (min-width: $tablet-size) {
        //         grid-row: 2/span 1;
        //         grid-column: 1/span 1;
        //       }
        // }

        // .intro-grid__text--forth{

        //     @media screen and (min-width: $tablet-size) {
        //         grid-row: 4/span 1;
        //         grid-column: 1/span 1;
        //       }

        // }


        // .intro-grid__text--sixth{

        //     @media screen and (min-width: $tablet-size) {
        //         grid-row: 6/span 1;
        //         grid-column: 1/span 1;
        //       }

        // }

