
.p-koucovani{
    margin-bottom: 15px;
    line-height: 150%;

    @media screen and (min-width: $PC-size) {
        //padding-right: 200px;
    }
}

.onas-container{
    padding: 0 $pad-mobile;

    @media screen and (min-width: $tablet-size) { 
        padding: 0 $pad-tablet;
    }

    @media screen and (min-width: $PC-size) {
        padding: 10px $pad-PC;
    }    
}

.onas-container-uvod {
    padding: 10px 0;
}

.onas-container-we{
    @media screen and (min-width: $tablet-size) { 
       display: grid;
       grid-template-rows: 1fr 1fr;
       grid-template-columns: 1fr 1fr;
    }

    // @media screen and (min-width: $PC-size) { 
    //     grid-template-rows: 1fr;
    //     grid-template-columns: 1fr 1fr 1fr;
    //  }
}

.onas-container-we__h3{
    text-align: center;
    color: $quaternary-c;
    font-size: 27px;
    margin-bottom: -25px;
}

.onas-container-we__img{
    border-radius: 50%;
    padding: 50px;
}

.onas-container-we__box{
    @media screen and (min-width: $PC-size) { 
        margin: 80px;
    } 
}

.onas-container-we__box--bob{
    @media screen and (min-width: $tablet-size) { 
        grid-columns: span 2; 
    } 
}



.onas-container-we__adresa{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 50px;
    text-decoration: none;
    color: $septenary-c;
}

.onas-container-we__adresa:hover{
    color: $primary-c;
}


.onas__h3{
    text-align: center;
    color: $quaternary-c;
    font-size: 30px;
    padding-top: 30px;
}

.o_nas_psali_a{
    font-weight: bold;
    color: $primary-c;
}

.onas_psali_p{
margin-bottom: 10px;
}


.o_nas_galerie {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(30);
    gap: 5px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    
    
   
    @media screen and (min-width: $tablet-size) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(15, auto);
        
        
    }

    @media screen and (min-width: $PC-size) {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(10, auto);
        gap:10px;
        
    }


}



//SCSS k původnímu gridu v intru
        .intro-grid{
            width: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, auto);
            
            @media screen and (min-width: $tablet-size) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(4, auto);
            }
        }



        .intro-grid__picture{
            border-radius: 50%;
            padding: 40px 40px;
            margin: 0;

            max-width: 400px;

            @media screen and (min-width: $tablet-size) {
                padding: 45px;
            }


        }

        .intro-grid__text{
            padding: 0px 20px 25px 20px;
            margin: 0;
            
            @media screen and (min-width: $tablet-size) {
               margin-top: auto;
               margin-bottom: auto;
               padding: 0 25px;
            
             }
        }

        .intro-grid__picture--first{
            border-radius: 30%;
        }

        .intro-grid__offer{
            margin-top: 20px;
        }

        .intro-grid__offer--a{
            text-decoration: none;
            color: $senary-c;
            font-weight: bold;
            font-size: larger;
        }

        .intro-grid__text--second{
            @media screen and (min-width: $tablet-size) {
                grid-row: 2/span 1;
                grid-column: 1/span 1;
              }
        }

        .intro-grid__text--forth{

            @media screen and (min-width: $tablet-size) {
                grid-row: 4/span 1;
                grid-column: 1/span 1;
              }

        }


        .intro-grid__text--sixth{

            @media screen and (min-width: $tablet-size) {
                grid-row: 6/span 1;
                grid-column: 1/span 1;
              }

        }


