.perma-container{
    
    padding: 0 $pad-mobile;

    @media screen and (min-width: $tablet-size) { 
        padding: 0 $pad-tablet;
    }

    @media screen and (min-width: $PC-size) {
        display: flex;
        flex-wrap: wrap; 
        padding: 10px $pad-PC;
    }
    
}



//left
.perma-container__left{

    @media screen and (min-width: $PC-size) {
        flex: 1 1 75%;
        padding-right: 80px;
    }
}

.perma-container__left-author{
    text-align: end;
    font-style: italic;
    margin: -10px 20px 27px 0;

    @media screen and (min-width: $tablet-size) {
        margin: -10px 20px 27px 0;
    }

    @media screen and (min-width: $PC-size) {
        margin: -5px 20px 27px 0;
    }
}

.perma-container__left-title {
    color: $quaternary-c;
    font-size: 27px;
    font-style: italic;
    margin-top: 60px;

    @media screen and (min-width: $PC-size) {
        margin-top: 90px;
    }

}

.perma-container__left-title--quotation {
    margin-bottom: 0;
}




//right
.perma-container__right{
    
    @media screen and (min-width: $tablet-size) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $PC-size) {
        flex: 1 1 25%;
        
    }
}


.perma-container__right-box{
    border: solid 1px $background-c;
    background-color: $senary-c;
    border-radius: $radius_table;
    margin: 30px 0;
    width: 220px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $tablet-size) {
        flex: 0 0 30%;
        margin-top: 5px;
        margin-bottom: 5px;
    } 
    
    @media screen and (min-width: $PC-size) {
        flex: 0 0 100%;
        margin: 5px 10px;
    }
    
}

.perma-container__right-box--3{
    @media screen and (min-width: $tablet-size) {
        flex: 0 0 100%;
        order: 4;
        margin-bottom: 80px;
    }

    @media screen and (min-width: $PC-size) {
        order: 3;
        margin: 5px 15px;
    }
}

.perma-container__right-box--1 {
    @media screen and (min-width: $tablet-size) {
        margin-top: 90px;
        order: 2;
    } 
    @media screen and (min-width: $PC-size) {
        order: 1;
        margin: 0 15px 5px 15px;
    }
}


.perma-container__right-box--2 {
    @media screen and (min-width: $tablet-size) {
        order: 1;
        margin-top: 90px;
    } 

    @media screen and (min-width: $PC-size) {
        order: 2;
        margin: 5px 15px;
    }
}

.perma-container__right-box--4{
    @media screen and (min-width: $tablet-size) {
        order: 3;
        margin-top: 90px;
    } 

    @media screen and (min-width: $PC-size) {
        order: 4;
        margin: 5px 15px;
    }
}

.perma-container__right-title{
    border: solid 1px $tertiary-c;
    background-color: $tertiary-c;
    margin: 0;
    border-radius: $radius_table $radius_table 0 0;
    padding: 15px;
    text-align: center;
    color: $secondary-c;
    font-size: 23px;
}



.perma-container__right-paragraph{
    text-align: center;
    padding: 20px;
    color: $background-c;
    
    @media screen and (min-width: $PC-size) {
        padding: 5px 15px;
    } 

}

.perma-container__link{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: $quinary-c;
    font-size: 22px;

    @media screen and (min-width: $tablet-size) {
        padding: 5px;
    } 
}

.perma-container__link:hover{
    color: $primary-c;
    font-size: 24px;
}

.perma-container__right-paragraph--link{
    padding: 10px 20px;

    @media screen and (min-width: $tablet-size) {
        padding: 10px 20px;
    }
}


.parma-container__mapa-PC{

   // margin: 0 300px 0 100px;

    @media screen and (max-width: $tablet-size) {
        display: none;
    }
    //Záhada* - media nad byla původně jako média, která jsoiu zakomentovaná pod s -1,
    //ale hlásilo to chybu, tak jsem to vymazala a funguje to
    // @media screen and (max-width: $tablet-size - 1px) {
    //     display: none;
    // }
    @media screen and (min-width: $tablet-size) {
        display: none;
    }
    @media screen and (min-width: $PC-size) {
        display: inline;
    }
    
}

.parma-container__mapa-tab{
    @media screen and (min-width: $PC-size) {
        display: none;
    }
    @media screen and (max-width: $tablet-size) {
        display: none;
    }
    //*záhada viz výše
    // @media screen and (max-width: $tablet-size - 1px) {
    //     display: none;
    // }
}


.parma-container__mapa-mobile{
    @media screen and (min-width: $tablet-size) {
        display: none;
    }
    @media screen and (min-width: $PC-size) {
        display: none;
    }
}