


.table-blog{
    border: solid 1px $background-c;
    background-color: $background-c;
    border-radius: $radius-table;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $tablet-size) {
        max-width: 600px;
     
    }

    @media screen and (min-width: $PC-size) {
        max-width: none;
        display: flex;
        margin-left: 30px;
        margin-top: 80px;
    }

}

.div_one_article{
    
    @media screen and (min-width: $PC-size) {
        flex: 1 1 0;
        padding: 10px;
        margin: 10px;
    }
}

.table-blog__article{
    @media screen and (min-width: $tablet-size) {
        flex: 1 1 60%;
    }

    @media screen and (min-width: $PC-size) {
        flex: 1 1 60%;
        display: flex;
        //flex-direction: row;
    }
}



.table-blog__h3-box{
    background-color: $background-c;
    border-radius: $radius-table $radius-table 0px 0px;
    flex: 1 1 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-blog__h3{
    color: $septenary-c;
    font-size: 40px;
    text-align: center;
}

.table-blog__h4{
    font-size: 24px;
    color: $septenary-c;
    text-align: center;
    padding: 0 8px;
    text-decoration: none;


    @media screen and (min-width: $tablet-size) {
        font-size: 26px;
        height: 50px;
        padding: 0px 20px;
        margin: 20px 0px 7px 0px;
    }

    @media screen and (min-width: $PC-size) {
        height: auto;
        margin: 21px 0px;
        padding: 5px;
    }
}

.table-blog__article-link{
    text-decoration: none;
    display: block;
    text-align: center;
    padding-bottom: 5px;
    color: $background-c;
    font-size: 20px;
}

.table-blog__article-link:hover{
    font-size: 23px;
    color: $quinary-c;
}

.table-blog__img-box{
    @media screen and (min-width: $tablet-size) {
        height: auto;
        //tohle jsem měla před tím na konkrétní výšku, ale nefungovalo mi to moc dobře u fotky clanku 019
    }

    @media screen and (min-width: $PC-size) {
        height: auto;
        
    }
}

.table-blog__img{
    @media screen and (min-width: $tablet-size) {
     
        height: 100%;
        width: 100%;
        object-fit: cover;
        padding: 10px 10px;
        border-radius: $radius-table;
         
       }

    @media screen and (min-width: $PC-size) {
        padding: 0;
        object-fit: inherit;
        width: 100%;
        height: auto;
        
    }
}

