*, :after, :before { box-sizing: border-box; }

//barvy
$background-c: #FAF2F2; /*pozadí a H1*/
$primary-c: #2aa2b2; /* nadpisy H2 , dříve C29EC4*/ 
$secondary-c: #4D5A46; /*hodně tmavě zelené – barva patičky, nadpisy v boxech „Řekli o permakultuře“ */
$tertiary-c: #CEDAAC ; /* sětle zelená – horní část okna boxů pro blog */
$quaternary-c: #A0B187; /* tmavě zelená – spodní část boxu pro blog a odkazy na více z článku v blogu */
$quinary-c: #ECEFA2; /* žlutá - myšl. mapa a odkazy v blogu */
$senary-c: #849060; /*mechově zelená – pro myšlenkovou mapu*/
$septenary-c: #4A4146; /*nadpis H3*/

//zaoblení u tabulek - obrázků
$radius_table: 5px;

//pro responzivní web - velikosti pro tablet a PC
$tablet-size: 720px;
$PC-size: 1250px;

//minimální a maximální šířka stránky
$min-width:320px;
$max-width:1700px;

//odsazení podle velikosti zobrazení stránky (PC, tablet, mobil)
$pad-PC: 180px;
$pad-tablet: 120px;
$pad-mobile: 20px;