<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="img/úvod/eko_prvky/spirala.jpg">
    <title>Permakulturní ráj</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    
    <script>
        let button = document.querySelector(".button-more_less");
        button.style.color = "purple";
    </script>
   
    <header>
        
      
        
        
        <h1><img class="header-logo" src="/img/logo Perma raj.png" alt="logo: spirála hlava a nohy - poskládané tak, že to vypadá jak vozíčkář">Perma ráj <p class="heading-p"> postiženi permakulturou</p></h1>
       
    

        <nav class="menu">
            
            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

            <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
                <li class="menu__item"><a class="menu__link" href="/permakultura/">Permakultura</a></li>
                <li class="menu__item"><a class="menu__link" href="/koucovani/">Koučování</a></li>
                <li class="menu__item"><a class="menu__link" href="/blog/">Blog</a></li>
                <li class="menu__item"><a class="menu__link" href="/odkazy/">Odkazy</a></li>
                <li class="menu__item"><a class="menu__link" href="/onas/">O nás</a></li>
                <li class="menu__item" id="li-logo"><a href="https://www.facebook.com/karolina.chovancova11/" target="_blank"><img src="/img/loga/fb.png" alt=""></a></li>
                <li class="menu__item" id="li-logo"><a href="https://www.youtube.com/channel/UCA48SmzvMexntKVxR7aUnag" target="_blank"><img src="/img/loga/YouTube.png" alt=""></a></li>
            </ul>
        </nav>
             


    </header>

   