 

    <footer>
        <p class="footer__text">Copyright © 2020 by Perma ráj.</p>
    </footer>
    

    <script>
        // let toggle = document.querySelector('.toggle_swich-en-cz input')
    
        // let en = document.querySelector(".en")

        // let cz = document.querySelector(".cz")

        

        
        //     toggle.addEventListener('click', () => {
        //         let onOff = toggle.parentNode.querySelector('.onoff')
                
        //         onOff.textContent = toggle.checked ? 'CZ' : 'EN'
                

        //         en.style.display= toggle.checked ? "block": "none"
        //         cz.style.display= toggle.checked ? "none" : "block"


        //         if (!onOff || !en) {
        //             console.error('Některé prvky nebyly nalezeny.');
        //             return;
        //         }
        //     })
       
    </script>

</body>