<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        
        
        <h1>Učíme se permakulturu</h1>
       

        
        <nav class="menu">
            
            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

            <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
                <li class="menu__item"><a class="menu__link" href="/permakultura/">Permakultura</a></li>
                <li class="menu__item"><a class="menu__link" href="/blog/">Blog</a></li>
                <li class="menu__item"><a class="menu__link" href="/odkazy/">Odkazy</a></li>
                <li class="menu__item"><a class="menu__link" href="/onas/">O nás</a></li>
            </ul>
        </nav>
        

    </header>