{% include "partials/page-top.njk" %}


    <main class="main">
        <h2 class="article-heading">{{ title }}</h2>

        
        
        <div class="article">
        <p class="datum">{{ datum }}</p>
            {{ content | safe }}
        </div>
            
            
        <a class="article_odkaz" href="/blog">Zpět na blog</a>

    </main>

{% include "partials/page.bottom.njk" %}