{% include "partials/page-top.njk" %}


    <main class="main">
        <h2>{{ title }}</h2>
        
        
        {{ content | safe }}
            
            
        

    </main>

{% include "partials/page.bottom.njk" %}

    
